<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/home/" class="nav-link px-2">Главная</a></li>
        <li><a href="/catalog/" class="nav-link px-2">Каталог</a></li>
        <li><a href="/cart/" class="nav-link px-2">Корзина</a></li>
        <li><a href="/feedback/" class="nav-link px-2">Обратная связь</a></li>
      </ul>

    <div class="col-md-3 text-end">
        <a href="/profile/" class="btn btn-outline-primary me-2">Зайти в личный кабинет</a>
        <a href="" class="btn btn-primary">Зарегистрироваться</a>
    </div>

</header>